In [1]:
import pandas as pd
import numpy as np

In [2]:
indy = pd.read_csv('./races.csv')

In [3]:
indy.isna().sum()

finish              0
start               0
car_number          0
driver              0
car_name/entrant    0
make_model          0
status              0
laps                0
LED                 0
winnings            0
year                0
dtype: int64

In [11]:
indy.tail()

,finish,start,car_number,driver,car_name/entrant,make_model,status,laps,LED,winnings,year
3325,29,28,26,Zach Veach,Gainbridge,Dallara/Honda,Contact,176,0,334129,2019
3326,30,7,18,Sebastien Bourdais,SealMaster,Dallara/Honda,Contact,176,0,342129,2019
3327,31,33,32,Kyle Kaiser,Juncos Racing,Dallara/Chevrolet,Contact,71,0,205305,2019
3328,32,27,81,Ben Hanley,10 Star DragonSpeed,Dallara/Honda,Mechanical,54,0,200805,2019
3329,33,5,88,Colton Herta,Harding Steinbrenner Racing,Dallara/Honda,Mechanical,3,0,351129,2019

In [5]:
indy.dtypes

finish               int64
start                int64
car_number           int64
driver              object
car_name/entrant    object
make_model          object
status              object
laps                 int64
LED                  int64
winnings            object
year                 int64
dtype: object

In [6]:
def to_num(number):
    new = int(number.replace('$', '').replace(',', ''))
    return new

In [9]:
indy['winnings'] = indy['winnings'].apply(to_num)

In [12]:
indy.describe()

,finish,start,car_number,laps,LED,winnings,year
count,3330.000000,3330.000000,3330.000000,3330.000000,3330.000000,3.330000e+03,3330.000000
mean,16.841441,16.821622,31.356757,134.414114,6.057958,1.127569e+05,1967.867568
std,9.603248,9.604746,26.548901,69.400194,21.777830,2.285183e+05,30.810132
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1911.000000
25%,9.000000,9.000000,10.000000,71.000000,0.000000,2.335250e+03,1940.000000
50%,17.000000,17.000000,23.000000,163.000000,0.000000,1.743700e+04,1969.000000
75%,25.000000,25.000000,45.000000,200.000000,0.000000,1.777405e+05,1994.000000
max,42.000000,42.000000,99.000000,200.000000,198.000000,3.048005e+06,2019.000000