# Jeopardy! 
Creating a grid of 10,000 questions.

In [1]:
import pandas as pd
import numpy as np

In [2]:
jeo = pd.read_csv('./data/master_season1-35.tsv', sep='\t')

In [3]:
jeo.head(20)

,round,value,daily_double,category,comments,answer,question,air_date,notes
0,1,100,no,LAKES & RIVERS,-,River mentioned most often in the Bible,the Jordan,1984-09-10,-
1,1,200,no,LAKES & RIVERS,-,Scottish word for lake,loch,1984-09-10,-
2,1,400,no,LAKES & RIVERS,-,American river only 33 miles shorter than the ...,the Missouri,1984-09-10,-
3,1,500,no,LAKES & RIVERS,-,"World's largest lake, nearly 5 times as big as...",the Caspian Sea,1984-09-10,-
4,1,100,no,INVENTIONS,-,Marconi's wonderful wireless,the radio,1984-09-10,-
5,1,200,no,INVENTIONS,-,"In 1869 an American minister created this ""ori...",the rickshaw,1984-09-10,-
6,1,300,no,INVENTIONS,-,A 1920's hunting trip to Canada inspired Birds...,freezing,1984-09-10,-
7,1,400,no,INVENTIONS,-,This fastener gets its name from a brand of ga...,a zipper,1984-09-10,-
8,1,100,no,ANIMALS,-,These rodents first got to America by stowing ...,rats,1984-09-10,-
9,1,200,no,ANIMALS,-,"There are about 40,000 muscles & tendons in th...",the trunk,1984-09-10,-
10,1,300,no,ANIMALS,-,"When husbands ""pop"" for an ermine coat, they'r...",a weasel,1984-09-10,-
11,1,400,no,ANIMALS,-,"Close relative of the pig, though its name mea...",the hippopotamus,1984-09-10,-
12,1,500,no,ANIMALS,-,If this species of hybrid's parents were rever...,mule,1984-09-10,-
13,1,100,no,FOREIGN CUISINE,-,"The ""coq"" in coq au vin",chicken,1984-09-10,-
14,1,200,no,FOREIGN CUISINE,-,"A British variety is called ""bangers"", a Mexic...",sausages,1984-09-10,-
15,1,300,no,FOREIGN CUISINE,-,Jewish crepe filled with cheese,a blintz,1984-09-10,-
16,1,400,no,FOREIGN CUISINE,-,French for a toothsome cut of beef served to a...,Châteaubriand,1984-09-10,-
17,1,100,no,ACTORS & ROLES,-,Video in which Michael Jackson plays a werewol...,"\""Thriller\""",1984-09-10,-
18,1,200,no,ACTORS & ROLES,-,"2 ""Saturday Night"" alumni who tried ""Trading P...",Dan Aykroyd & Eddie Murphy,1984-09-10,-
19,1,300,no,ACTORS & ROLES,-,"He may ""Never Say Never Again"" when asked to b...",Sean Connery,1984-09-10,-

In [4]:
jeo.isna().sum()

round           0
value           0
daily_double    0
category        0
comments        0
answer          0
question        0
air_date        0
notes           0
dtype: int64

In [5]:
jeo['daily_double'] = [1 if x != 'no' else 0 for x in jeo['daily_double']]

In [6]:
jeo['daily_double'].value_counts()

0    332620
1     17021
Name: daily_double, dtype: int64

In [7]:
len(jeo)

349641

In [8]:
x = list(range(1, 191)) * 107

In [9]:
y = list(range(1, 108)) * 190

In [10]:
coord = list(zip(x, y))

In [11]:
coord[0]

(1, 1)

In [12]:
dd = pd.read_csv('./data/all_coord.csv')

In [13]:
dd = dd[['X', 'Y']]

In [14]:
dd.tail()

          X     Y
2380  152.0  49.0
2381  152.0  48.0
2382  152.0  44.0
2383  152.0  43.0
2384  152.0  42.0

In [15]:
dd.isna().sum()

X    1
Y    1
dtype: int64

In [16]:
dd.dropna(inplace=True)

In [17]:
dd['X'] = dd['X'].astype(int)

In [18]:
dd['Y'] = dd['Y'].astype(int)

In [19]:
dd_coor = list(zip(dd['X'], dd['Y']))

In [20]:
dd_coor[0]

(35, 51)

In [21]:
to_check = set(dd_coor)

In [22]:
len(to_check)

2373

In [23]:
len(coord)

20330

In [24]:
def strip_coord(some_list):
    cleaned = []
    for x in some_list:
        if x not in to_check:
            cleaned.append(x)
    return cleaned

In [25]:
coord = strip_coord(coord)

In [26]:
len(coord)

17957

In [27]:
len(dd_coor)

2384

In [28]:
norm_x = [x for x, y in coord]
norm_y = [y for x, y in coord]

In [29]:
daily = jeo[jeo['daily_double'] == 1].tail(2373).reset_index()

In [30]:
normal = jeo[jeo['daily_double'] == 0].tail(17957).reset_index()

In [31]:
daily = pd.concat([daily, dd[['X']], dd[['Y']]], axis = 1, sort = False)

In [32]:
len(dd)

2384

In [33]:
daily

,index,round,value,daily_double,category,comments,answer,question,air_date,notes,X,Y
0,304468.0,2.0,3800.0,1.0,WE'RE ON THE ROAD TO,-,...see the sights in this capital; we've left ...,Riyadh (Saudi Arabia),2015-12-07,-,35.0,51.0
1,304490.0,2.0,3000.0,1.0,PULLING RANK,-,This prince & would-be king ignored advisors &...,Bonnie Prince Charlie,2015-12-07,-,35.0,50.0
2,304505.0,1.0,500.0,1.0,COUNTRIES' NATIONAL ANTHEMS,-,"\""Himno Istmeño"", or ""Isthmus Hymn\""",Panama,2015-12-08,-,35.0,49.0
3,304525.0,2.0,3000.0,1.0,COLONIAL NEW ENGLAND,-,First formed to drive New York settlers out of...,the Green Mountain Boys,2015-12-08,-,35.0,48.0
4,304536.0,2.0,2000.0,1.0,PARLIAMENT VS. CONGRESS,-,It's the area from which you can watch politic...,the gallery,2015-12-08,-,35.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2380,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0,49.0
2381,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0,48.0
2382,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0,44.0
2383,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0,43.0
2384,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,152.0,42.0

In [34]:
normal['X'] = norm_x

In [35]:
normal['Y'] = norm_y

In [36]:
final = pd.concat([daily, normal], axis = 0)

In [37]:
final

,index,round,value,daily_double,category,comments,answer,question,air_date,notes,X,Y
0,304468.0,2.0,3800.0,1.0,WE'RE ON THE ROAD TO,-,...see the sights in this capital; we've left ...,Riyadh (Saudi Arabia),2015-12-07,-,35.0,51.0
1,304490.0,2.0,3000.0,1.0,PULLING RANK,-,This prince & would-be king ignored advisors &...,Bonnie Prince Charlie,2015-12-07,-,35.0,50.0
2,304505.0,1.0,500.0,1.0,COUNTRIES' NATIONAL ANTHEMS,-,"\""Himno Istmeño"", or ""Isthmus Hymn\""",Panama,2015-12-08,-,35.0,49.0
3,304525.0,2.0,3000.0,1.0,COLONIAL NEW ENGLAND,-,First formed to drive New York settlers out of...,the Green Mountain Boys,2015-12-08,-,35.0,48.0
4,304536.0,2.0,2000.0,1.0,PARLIAMENT VS. CONGRESS,-,It's the area from which you can watch politic...,the gallery,2015-12-08,-,35.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...
17952,349636.0,2.0,400.0,0.0,MAKE IT SNAPPY,-,"As well as photosharing on this app, you can w...",Snapchat,2019-07-26,-,186.0,103.0
17953,349637.0,2.0,800.0,0.0,MAKE IT SNAPPY,-,"Genus Antirrhinum, these flowers snap closed a...",snapdragons,2019-07-26,-,187.0,104.0
17954,349638.0,2.0,1600.0,0.0,MAKE IT SNAPPY,-,This hyphenated tool company owns brands like ...,Snap-On,2019-07-26,-,188.0,105.0
17955,349639.0,2.0,2000.0,0.0,MAKE IT SNAPPY,-,"In 2019 meteorologist Daryl Ritchison at NDSU,...",North Dakota State University,2019-07-26,-,189.0,106.0
17956,349640.0,3.0,0.0,0.0,HISTORIC SHIPS,-,215 passengers were rescued when it sank in Ju...,the Carpathia,2019-07-26,-,190.0,107.0

In [38]:
final.isna().sum()

index           12
round           12
value           12
daily_double    12
category        12
comments        12
answer          12
question        12
air_date        12
notes           12
X                1
Y                1
dtype: int64

In [39]:
final.dropna(inplace = True)

In [40]:
final.to_csv('./data/final_coord.csv', index=False)